{% extends 'registration/login.html' %}


{% block content %}


    <form action="{% url "accounts:registration_register" %}" method="post" class="enterRegister-box__form"
          enctype='multipart/form-data' style="color: white">
        {% csrf_token %}

        {% for field in form %}
        <p style="margin-bottom: 20px; font-size: 20px">{{ field.label }} {{ field }}</p>
        {% endfor %}

        <button type="submit" class="enterRegister-box__btn">Sign up</button>

    </form>


{% endblock content %}