{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sonder Blu - {% block meta_title %}{% endblock meta_title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "tv/css/main.css" %}>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <h4 class="navbar-text"><a href="{% url 'home' %}">Sonder Blu</a></h4>
        <ul class="nav navbar-nav">
            <form style="margin-top: 10px" action="{% url 'search' %}">
                <input name="query" style="width: 200px" required>
                <input type="submit" class="button" value="Search">
            </form>
        </ul>
        <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
                <li><a href="{% url "profile" request.user.pk %}">{{ request.user.username }}</a></li>
                <li>{{ unread_requests|length }}</li>
                <li><a href="{% url "accounts:auth_logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "accounts:auth_login" %}">Login</a></li>
                <li><a href="{% url "accounts:registration_register" %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
        <div class="row">
            <div class="col-md-8">
            <a href="{% url "category_search" %}" class="btn btn-default">Search by category</a>
                {% if query %}
                    <h4>You search for: {{ query }}</h4>
                    <p><a href="{% url "search_movies" query %}">Movies</a> <a href="{% url "search_people" query %}">People</a></p>
                {% endif %}
                {% if movies %}
                    <h2>Movies</h2>
                    {% for movie in movies %}
                        <h4>{{ movie.name }}</h4>
                        <p>Rating: {{ movie.rating }}</p>
                        <p>Category:
                            {% for category in movie.category.all %}
                                <a href="#">{{ category }}</a>
                            {% endfor %}
                        </p>
                        <video src="{{ movie.movie_file.url }}" controls width='75%' height='60%'></video>
                        <p>
                            <a href="{% url 'like' %}" data-id="{{ movie.id }}"
                              class="btn btn-primary like">Likes: {{ movie.total_likes }}</a>

                        <button class="btn btn-primary room-link" data-room-id={{ movie.room.id }}>Chat</button>
                        <div id="chats">
                        </div>
                            {% if movie not in request.user.profile.favorites.all %}
                            <a href="{% url "add_favorite" movie.pk %}" class="btn btn-primary">Add to favorites</a>
                            {% endif %}

                        <p style="text-align: justify; width: 75%">{{ movie.description }}</p>

                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" style="color: red" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if not query %}
                        <form action="{% url "review_create" movie.pk %}" method="post" enctype="multipart/form-data"
                            style="margin-bottom: 50px">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <input type="submit" value="Save"/>
                        </form>
                        {% endif %}

                        <hr>
                    {% endfor %}
                {% else %}
                    <h2>No items to display</h2>
                {% endif %}

            {% if not query %}
            <h4>Please, leave your feedback about platform:</h4>
            <form action="{% url "feedback_create" %}" method="post" enctype="multipart/form-data"
                  style="margin-bottom: 50px">
                {% csrf_token %}
                {{ feedback_form.as_p }}
                <input type="submit" value="Save"/>
            </form>
            <h4>Reviews</h4>
            {% for feedback in feedbacks %}
                <p>Author: {{ feedback.user.username }}</p>
                <p style="text-align: justify; width: 75%">{{ feedback.feedback }}</p>
                {% if feedback.video %}
                    <video src="{{ feedback.video.url }}" controls width='50%' height='40%'></video>
                {% endif %}
                <hr>
            {% endfor %}
            {% endif %}

            {% if people %}
            <h4>People</h4>
            {% for user in people %}
            <p><a href="{% url "profile" user.id %}">{{ user.username }}</a></p>
            {% endfor %}
            {% endif %}

            </div>
            <div class="col-md-4" style="text-align: right">
                {% if user.is_authenticated %}
                    <h4>Friends <span style="font-weight: lighter">{{ friends|length }}</span></h4>
                    <ul style="list-style-type: none">
                        {% for user in friends %}
                            <li style="margin-left: -40px; margin-bottom: 10px">
                                <a href="{% url "profile" user.pk %}">{{ user.username }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <h4>Users</h4>
                    <ul style="list-style-type: none">
                        {% for user in users %}
                            {% if user in friends or user == request.user or user.username == 'admin' %}
                            {% else %}
                                <li style="margin-left: -40px; margin-bottom: 10px">
                                    <a href="{% url "profile" user.id %}">{{ user.username }}</a>
                                    {% if not user in sent_requests %}
                                        <a href="{% url 'send_request' user.id %}" class="btn btn-primary">Send friend
                                            request</a>
                                    {% else %}
                                        <button class="btn btn-primary disabled">Friend request sent</button>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <h4>Groups</h4>
                    <ul style="list-style-type: none">
                        {% for group in groups %}
                            <li style="margin-left: -40px; margin-bottom: 10px">
                                <a href="{% url "group" group.pk %}">{{ group.name }} ({{ group.movie }})</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="{% url "group_form" %}" class="btn btn-default" style="margin-top: 20px">Create group</a>
{#                    <p><a href="{% url "chat" %}" class="btn btn-default" style="margin-top: 20px">Chat</a></p>#}
{#                    <p><a href="{% url "multichat" %}" class="btn btn-default" style="margin-top: 20px">Multichat</a></p>#}

                {% endif %}
            </div>
        </div>

</div>

    {% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "tv/js/main.js" %}" type="text/javascript"></script>

{% block extra_scripts %}
<script type="text/javascript" src='{% static "multichat/js/multichat.js" %}'></script>
<script type="text/javascript" src='{% static "multichat/js/reconnecting-websocket.min.js" %}'></script>
{% endblock %}

</body>
</html>