{% extends 'index.html' %}

                            {% block content %}
                            <div class="searchWrap">
							<div class="searchWrap-tabs clearfix">
								<label class="searchWrap-tabs__item">
									<input type="radio" name="radio" checked data-tabs='1'> <i></i>People
								</label>
								<label class="searchWrap-tabs__item arr">
									<input type="radio" name="radio" data-tabs='2'> <i></i>Films
								</label>
							</div>
							<div class="searchWrap-filter">
								<ul class="clearfix">
									<li><a href="#">Shorts</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Horrow</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
									<li><a href="#">Westerns</a></li>
								</ul>
							</div>
							<div class="searchWrap-content tab-ppl active" data-content='1'>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<a href="#" class="avatar blue">
												<img src="images/avatar3.png">
											</a>
											<span class="name">
												Peter Ivanov
											</span>
											<span class="vase vase-one"></span>
										</div>
										<p class="namber">1</p>
										<div class="like"></div>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
										<div class="slider-video" style="display: none;">
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
											<div class="slide">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="searchWrap-content tab-flms" data-content='2'>
								<div class="col-4x">
									<div class="searchWrap-content__box">
										<div class="head clearfix">
											<p class="title">
												Space (trailer)
											</p>
											<span class="vase vase-one vase-two"></span>
										</div>
										<div class="head-bot clearfix">
											<a href="#" class="views">14,4 k views</a>
											<a href="#" class="likes">10 k likes</a>
											<a href="#" class="shares">3 k shares</a>
										</div>
										<p class="text">
											This is Photoshop's version  of Lorem Ipsu m. Proin gravida nibh vel velit auctor aliqu iquet. Aene an sollici tudin, loirtt em qufds biben dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
										</p>
										<div class="vid">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/jGhe7J2MJbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="content-rgt" style="display: none;">
						<div class="chatWrap">
							<div class="chatWrap-top clearfix">
								<div class="chatWrap-top__line"></div>
								<a href="#" class="chatWrap-top__arr"></a>
							</div>
							<div class="chatWrap-head">
								<a href="#">Private</a>
								<span>|</span>
								<a href="#">Groups</a>
							</div>
							<div class="chatWrap-items">
								<div class="chatWrap-messBox clearfix">
									<div class="chatWrap-messBox__avatar">
										<a href="#">
											<img src="images/avatar3.png" alt="">
										</a>
									</div>
									<div class="chatWrap-messBox__text">
										<h6 class="title">Peter Ivanov </h6>
										<p class="mess">
											Did this is Photo version hop's verve on hop's v rsion version s Of Lorem Ipsum. Proin llicit gravida nibh vel velllicitit auctor alquet. 
										</p>
									</div>
								</div>
								<div class="chatWrap-messBox clearfix">
									<div class="chatWrap-messBox__avatar">
										<a href="#">
											<img src="images/avatar3.png" alt="">
										</a>
									</div>
									<div class="chatWrap-messBox__text">
										<h6 class="title">Peter Ivanov </h6>
										<p class="mess">
											Did this is Photo version hop's verve on hop's v rsion version s Of Lorem Ipsum. Proin llicit gravida nibh vel velllicitit auctor alquet. 
										</p>
									</div>
								</div>
								<div class="chatWrap-messBox clearfix">
									<div class="chatWrap-messBox__avatar">
										<a href="#">
											<img src="images/avatar3.png" alt="">
										</a>
									</div>
									<div class="chatWrap-messBox__text">
										<h6 class="title">Peter Ivanov </h6>
										<p class="mess">
											Did this is Photo version hop's verve on hop's v rsion version s Of Lorem Ipsum. Proin llicit gravida nibh vel velllicitit auctor alquet. 
										</p>
									</div>
								</div>
								<div class="chatWrap-messBox clearfix">
									<div class="chatWrap-messBox__avatar">
										<a href="#">
											<img src="images/avatar3.png" alt="">
										</a>
									</div>
									<div class="chatWrap-messBox__text">
										<h6 class="title">Peter Ivanov </h6>
										<p class="mess">
											Did this is Photo version hop's verve on hop's v rsion version s Of Lorem Ipsum. Proin llicit gravida nibh vel velllicitit auctor alquet. 
										</p>
									</div>
								</div>
								<div class="chatWrap-messBox clearfix">
									<div class="chatWrap-messBox__avatar">
										<a href="#">
											<img src="images/avatar3.png" alt="">
										</a>
									</div>
									<div class="chatWrap-messBox__text">
										<h6 class="title">Peter Ivanov </h6>
										<p class="mess">
											Did this is Photo version hop's verve on hop's v rsion version s Of Lorem Ipsum. Proin llicit gravida nibh vel velllicitit auctor alquet. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="open-chat"></a>
                    {% endblock content %}